name = "vexusapps"
type = "javascript"
account_id = ""
workers_dev = true
compatibility_date = "2024-12-16"
compatibility_flags = ["nodejs_compat"]

# Environment variables
[env.production]
vars = { ENVIRONMENT = "production" }

# Build configuration
[build]
command = "npm run build"
cwd = "./"
main = "dist/index.js"

[build.upload]
format = "service-worker"

# Observability
[observability]
enabled = true
